.login {
    background-color: var(--color-primary-main-container);
    box-shadow: 0.5rem 0.5rem 1rem rgba($color: #000000, $alpha: 0.5);
    min-width: 90vw;
    height: 90vh;
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 30% 70%;

    &__image {
        grid-column: 1/2;

        display: flex;
        justify-content: center;
        align-items: center;

        &__img {
            height: 30rem;
        }
    }

    &__container {
        background-color: rgb(183, 180, 180);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 1rem;
        gap: 2rem;

        &__link{
            font-size: 1.5rem;
        }

        &__text {
            font-size: 3rem;

        }

        &__input {
            width: 30%;
            height: 4rem;
            padding: 1rem;
        }

        &__button {
            width: 15%;
            height: 4rem;
            background-color: rgb(132, 213, 132);
            padding: 0.5rem 1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid black transparent;
            border-radius: 0.25rem;

        }
    }

}